*.iml
.gradle
local.properties
.DS_Store
build
captures
build.number
build.properties
projectFilesBackup
etc/apk
.idea/libraries
.idea/modules
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/caches
.idea/encodings.xml
.idea/inspectionProfiles
.idea/runConfigurations.xml
